.nav-footer {
    margin: 200px 0 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: #2C343E;
    &__logo {
        cursor: pointer;
    }
    
    &__ul{
        display: flex;
        width: 30%;
        justify-content: space-between;
        list-style-type: none;
        
        &--list {
            text-transform: uppercase;
            &-link {
                text-decoration: none;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #83888F;
                &:hover {
                    color: greenyellow;
                }
                &:active {
                    color: #83888F;
                }
            }
        }
    }
}